/* Profile info container class */
.profile-info {
    /* position: absolute;
    top: 240px;
    left: 0; */
    padding: 10px;
    /* border: 1px solid #000000; */
    box-sizing: border-box;
}

.profile {
    position: static;
    padding: auto;
}

.interests {
    /* margin-top: 20px; */
    /* border: 1px solid #000000; */
    box-sizing: border-box;
    padding: 10px;
}

header {
    text-align: center;
}